@import '~material-colors/dist/colors';
.flex-container-column {
    display: flex;
    flex-direction: column;
    // flex-wrap: nowrap;
    justify-content: flex-start;
    // align-content: stretch;
    align-items: center;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: space-around;
    align-items: center;
}

.main {
    padding: 20px;
}

.is-slider .katex-display {
    // margin: .1em;
    margin: 0;
}

div.is-slider {
    background-color: rgba($md-grey-100, .45);
    box-shadow: .15px .4px 1.5px .5px rgba($md-grey-400, .8);
    margin: 6px 2px;
    padding: 2px 5px;
    position: relative;
    // padding: -5px;
}

input[type=range] {
    margin: 8px 0px;
}

.is-slider .ticks {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    // left: 0%;
}

.ticks .is-tick {
    position: absolute;
    height: 5px;
    width: 1px;
    bottom: 12px;
    background-color: #ccc;
}

.trader {
    fill: $md-red-300;
    transition: transform .5s ease-in-out;
    filter: url(#f4);
    stroke: white;
    stroke-width: 2px;
}

body {
    background-color: rgba($md-grey-400, .9);
}

.bg{
    fill: none;
}


.money,
.good {
    stroke: white;
    stroke-width: .8px;
    filter: url(#f3);
    pointer-events: none;
}

.money {
    fill: $md-light-green-600;
}

.money.trade{
    fill: $md-green-500;
}

.good {
    fill: $md-light-blue-500;
}

.trade{
    stroke-width: 1.6px;
}
