@import '~material-colors/dist/colors';
@import '../../style/variables';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,500,400italic,100&subset=latin,greek,greek);
body {
    font-family: Roboto;
    font-weight: 100;
    font-size: 12px;
    line-height: 1.45em;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    // flex-wrap: nowrap;
    justify-content: flex-start;
    // align-content: stretch;
    // align-items: flex-start;
}

.flex-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.ll-tabs {
    letter-spacing: .1px;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: center;
}

.ll-tab {
    display: flex;
    -webkit-order: 0;
    color: white;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    display: flex;
    flex: 1 1 auto;
    padding: 22px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    text-align: center;
    horizontal-align: center;
    background-color: $md-light-blue-900;
    // font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    // box-sizing: border-box;
}

.ll-tab:hover{
    background-color: rgba($md-light-blue-900,.9);
    // border: 1px solid rgba($md-blue-900,.5);
    // box-sizing: border-box;
    // hover
}

.ll-tabs {
    text-align: center;

}

.ll-column-one{
    color: white;
    border-radius: 2px;
    // @include shadow-2dp();
    box-shadow: 1px 1px .5px rgba(0,0,0,.4);
    background-color: $md-light-blue-800;
}

.ll-tab.active{
    // background-color: $md-blue-800;
    border-bottom: 1px solid $md-pink-500;
}


.ll-text{
    padding: 12px 24px;
}


.main {
    padding: 20px;
}

body {
    background-color: rgba($md-grey-300, 1);
}

div.my-slider {
    margin: 20px 0px;
}

.rc-slider-track {
    background-color: $md-light-blue-500;
}

.rc-slider-handle {
    border: solid 2px $md-light-blue-500;
}

.buttons{
    text-align: center;
    horizontal-align: center;
}

button.btn {
    margin: 10px;
    flex: 1 1 auto;
    border: 1px solid white;
    padding: 10px;
    background: none;
    color: white;
    text-align: center;
    horizontal-align: center;
    cursor: pointer;
}

#note {
    line-height: 14px;
    font-size: 11px;
    // font-weight: 400italic;
    font-style: italic;
}

.plot-column{
    background-color: rgba($md-grey-100,.7);
    box-shadow: 1px 1px rgba(0,0,0,.2);
    height: 100%;
    // height: 200px;
    padding: 20px;
}