@import '~material-colors/dist/colors';
.axis {
    fill: none;
    // stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: $md-blue-grey-600;
    // fill: white;
    stroke: none;
}

.axis line {
    // stroke: $md-grey-100;
    // stroke: white;
    stroke: $md-blue-grey-300;
    stroke-dasharray: 1.2,1.2;
}

.axis path {
    // stroke: #ccc;
    stroke: none;
}

.domain{
	stroke: none;
}

.tick:not(:first-child):not(:last-child) text{ 
    // stroke: blue; 
    // stroke: none;
    display: none;
}


// g.tick:not(:last-child) line{
//     stroke: blue;
